/*  your css code here. If applicable */
body {
	width: 1100px;
}

.imageContainer {
	width: 600px;
	height: 400px;
	overflow: hidden;
}
.imgtd {
	display: inline-block;
	width: 200px;
	height: 100px;
	overflow: hidden;
}
.texttd {
	display: inline-block;
	width: 600px;
	height: 100px;
	overflow: hidden;
	text-wrap: wrap;
}